{{>header}}
     <section class="main-home-banner">
            <div class="owl-carousel owl-theme" id="my_banner">
                
                <div class="item">
                    <div class="banner-area standard text-default bg-darkgray-hard">
                        <div class="item">
                            <div class="box-table">
                                <div class="box-cell">
                                    <div class="container">
                                        <div class="row item-flex center">
                                            <div class="col-md-6">
                                                <div class="content-box">
                                                    <h1>404 Page not Found</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{{>footer}}