  <!-- Start Footer 
    ============================================= -->
        <footer class="bg-dark default-padding-top text-light">
            <div class="top-footer"></div>
            <div class="container">
                <div class="row">
                    <div class="f-items">
                        <div class="col-md-4 item">
                            <div class="f-item footer_about">
                                <div class="footer-logo-main">
                                    <img src="assets/img/logo/logo.png" alt="Logo" />
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 item">
                            <div class="f-item link">
                                <h4>Links</h4>
                                <ul>
                                    <li>
                                        <a href="#">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#">Our Programs</a>
                                    </li>
                                    <li>
                                        <a href="#">Faqs</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 item">
                            <div class="f-item link">
                                <h4>About IELTS</h4>
                                <ul>
                                    <li>
                                        <a href="#">IELTS Basic</a>
                                    </li>
                                    <li>
                                        <a href="#">IELTS Advanced</a>
                                    </li>
                                    <li>
                                        <a href="#">IELTS Fast Tracks</a>
                                    </li>
                                    <li>
                                        <a href="#">IELTS Writing Focus</a>
                                    </li>
                                    <li>
                                        <a href="#">IELTS Speaking Focus</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 item">
                            <div class="f-item address">
                                <h4>Address</h4>
                                <ul>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <p>Phone <span>123 6th St. Melbourne, FL 32904</span></p>
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope"></i>
                                        <p>
                                            Email <span><a href="mailto:support@validtheme.com">support@validtheme.com</a></span>
                                        </p>
                                    </li>
                                    <li>
                                        <i class="fas fa-map"></i>
                                        <p>Office <span>123 6th St. Melbourne, FL 32904</span></p>
                                    </li>
                                </ul>
                                <div class="social">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p>&copy; Copyright 2021. All Rights Reserved by <a href="#">Foster Bright</a></p>
                            </div>
                            <div class="col-md-6 text-right link">
                                <ul>
                                    <li>
                                        <a href="#">Terms of user</a>
                                    </li>
                                    <li>
                                        <a href="#">Support</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Bottom -->
        </footer>
        <!-- End Footer -->

        <!-- jQuery Frameworks
    ============================================= -->
        <script src="assets/js/jquery-1.12.4.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/equal-height.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.easing.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/modernizr.custom.13711.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/count-to.js"></script>
        <script src="assets/js/loopcounter.js"></script>
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <script src="assets/js/bootsnav.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
